body {
    background-color: red;
    background-image: linear-gradient(red, rgb(8, 4, 4));
    min-height: 100px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    display: block;
    margin: 8px;
    border-radius: 8px;
    padding: auto;
}
